body{
    font-family: ubuntu;
    background-color: antiquewhite;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;   
}